@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    background-color: #0f0f0f;
    background-image: radial-gradient(circle at 20% 30%, rgba(255,0,0,0.05), transparent 40%),
                      radial-gradient(circle at 80% 70%, rgba(255,50,50,0.04), transparent 40%);
    color: #f8e6d1;
}

.header {
    position: relative;
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #1a0000, #0f0f0f);
    overflow: hidden;
    border-bottom: 2px solid #b11226;
}

.header::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(255,200,150,0.2), transparent 70%);
    border-radius: 50%;
    z-index: 0;
}

.header h1 {
    position: relative;
    font-size: 60px;
    letter-spacing: 8px;
    color: #e63946;
    margin: 0;
    text-shadow: 0 0 15px rgba(230,57,70,0.6),
                 0 0 40px rgba(230,57,70,0.3);
    z-index: 1;
}

.subtitulo {
    position: relative;
    margin-top: 20px;
    font-size: 18px;
    color: #f1c27d;
    font-style: italic;
    z-index: 1;
}

.cartelera {
    display: flex;
    flex-wrap: nowrap;
    gap: 35px;
    overflow-x: auto;
    padding: 80px 50px;
}

.pelicula {
    background: #1a1a1a;
    min-width: 270px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #7a0d1b;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(255,0,0,0.05);
}

.pelicula:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 30px rgba(230,57,70,0.5),
                0 0 60px rgba(230,57,70,0.2);
    border-color: #e63946;
}

.pelicula img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
    filter: brightness(95%) contrast(110%) saturate(105%);
}

.pelicula h2 {
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
    margin: 12px 0;
    color: #e63946;
}

.pelicula p {
    font-size: 13px;
    text-align: justify;
    line-height: 1.6;
    color: #f8e6d1;
}



.pelicula a {
    display: block;
    width: fit-content;
    margin: 10px auto 0 auto;
    text-decoration: none;
    padding: 10px 22px;
    background-color: #e63946;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    transition: 0.3s ease;
     }

.pelicula a:hover {
    background-color: #e63946;
    box-shadow: 0 0 10px rgba(230,57,70,0.7);
}

table {
    width: 85%;
    margin: 100px auto;
    border-collapse: collapse;
    background: #1a1a1a;
    box-shadow: 0 0 25px rgba(230,57,70,0.1);
}

th, td {
    padding: 14px;
    border: 1px solid #7a0d1b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

th {
    background-color: #b11226;
    color: #f8e6d1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    text-align:center;
}